client                         = "taligent"
project                        = "bg-technicall-challenge"
environment                    = "dev"
region                         = "us-central1"
discover_objects               = false
force_destroy_functions_bucket = true
